node-red-flow.json
[{"id":"f3567a71.d47488","type":"tab","label":"Sample Bot","disabled":false,"info":""},{"id":"27894e31.43c5c2","type":"debug","z":"f3567a71.d47488","name":"debug complete msg object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":680,"y":140,"wires":[]},{"id":"3c3d855f.921afa","type":"inject","z":"f3567a71.d47488","name":"I want to make a appointment","topic":"","payload":"I want to make a appointment","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["7581f78f.776f48","781cdfa.8ca7f2"]]},{"id":"8eca532b.6e60d","type":"inject","z":"f3567a71.d47488","name":"What is the local temperature?","topic":"","payload":"What is the local temperature?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["781cdfa.8ca7f2"]]},{"id":"7581f78f.776f48","type":"watson-conversation-v1-workspace-manager","z":"f3567a71.d47488","name":"","cwm-custom-mode":"listWorkspaces","cwm-workspace-id":"","cwm-intent":"","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":true,"cwm-service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":420,"y":220,"wires":[["27894e31.43c5c2"]]},{"id":"781cdfa.8ca7f2","type":"watson-conversation-v1","z":"f3567a71.d47488","name":"","workspaceid":"aab8cf6d-63e3-4ad1-9dea-01a30825b4e5","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":400,"y":140,"wires":[["27894e31.43c5c2"]]}]
